 body {
    background: #222222;
    color: #fff;
    font-family: 'Raleway', sans-serif;
   
 }

 .titles{
   text-transform: uppercase;
   padding: 0;
 }
 .hashtag{
   color:#FFC900;
 }
 .container__menu{
    background-color: #000;
    position: fixed;
    top: 0;
    min-height: 120px;
    max-width: 1280px;
    width: 100%;
    z-index: 10;
    border-bottom: 1px solid #fff;
 }
 .barra__nav{
   text-align: center;
 }
 .item__menu{
   display: inline-block;
   list-style: none;
 }
 .item__menu a {
   color: #fff;
   text-decoration: none;
   text-transform:uppercase;
   text-align: center;
   padding: 5px 5px;
 }
 .item__menu img{
   position: relative;
   top:28px;
 }
 .inicio a{
   color: #FFC900;
 }

 .container__presentation{
   background-image: url(../assets/inicio.png);
   min-height: 300px;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   top:120px;
   
 }
 .presentation{
   margin-left: 70px;
   padding-top: 30px;
 }
 .container__icons{
   margin-top: 50px;
 }
 .icons{
   font-size: 40px;
   padding: 15px 15px;
 }
 .icons i:hover{
   transform: scale(1.2);
   transition: all 300ms;
 }
 /* Posicionamiento del la imagen con el texto */
 .container__info {
   position: relative;
   top:150px;
   display: flex;
   align-items: center;
 }
 .image {
   flex: 0 0 auto;
   margin-right: 20px;
   margin-left: 70px;
 }
 .content {
   flex: 1 1 auto;
   padding: 20px 20px;
 }
 .button {
   background-color: #FFC900;
   margin-top: 30px;
   padding: 20px 40px;
   color: #000;
   text-decoration: none;
   top: 30px;
   position: relative;
   border-radius: 10px;
   text-transform: uppercase;
   font-weight: bold;
 }
 .container__portafolio {
   position: relative;
   top: 200px;
 }
 .title__portafolio{
   text-align: center;
   text-transform: uppercase;
   padding-top: 30px;
   border-top:  2px solid #FFC900;
 }
 .text{
   text-align: center;
 }

  .container__grid {
   display: grid;
   grid-template-columns: repeat(4, 1fr); /* Dos columnas con tamaño flexible */
    grid-gap: 5px; /* Espacio entre los contenedores */
  } 
 .proyectos {
   background-color: #191919; /* Color de fondo de los contenedores */
   color: #fff;
   /* Espacio interno de los contenedores */
   margin-left: 20px;
   margin-right: 20px;
   max-width: 250px;
   border-radius: 10px;
 }
 .proyectos img{
   border-radius: 10px;
 }
 .title-big {
   color: #FFC900;
   padding-left: 20px;
 }
 .title-small {
   font-weight: 300;
   padding-left:25px;
   padding-bottom: 15px;
   border-bottom: 1px solid #FFC900;
 }
.button-2{
   float:  right;
   margin-top: 15px;
   margin-right: 15px;
   margin-bottom: 15px;
   background-color: #FFC900;
   border-radius: 5px;
   border: none;
   text-transform: uppercase;
   font-size: medium;
   padding:10px 15px;
}
 .text__portafolio{
   font-size: 10px;
   margin: 5px 10px;
 }
 .container__skills{
   position: relative;
   top: 200px;
   background-color: #fff;
   color:#000;
 }
 .container__contacto{
   background-color:#FFC900;
 }
